<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Exp-traq</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- GOOGLE ICON FONTS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/main.js"></script>
  </head>

  <body>
    <!-- PAGE HEADER -->
    <div class="header">
      {% if user %}
        <span>{{ user }}</span>
      {% endif %}
      <span><a href="{{ url|safe }}">{{ url_linktext }}</a></span><br>
      <span id="expTraqDefaultView">Exp traq: {{exp_traq_name}}</span> <span id="expTraqChangeBtn" class="actionLink" onclick="showChangeTraq()">Change</span>
      <!-- Form initially hidden; see CSS -->
      <form id="changeTraqForm" class="tracker">Change exp traq to:
        <input value="{{ exp_traq_name }}" name="exp_traq_name">
        <input id="changeExpTraqBtn" type="submit" class="btn btn-large btn-primary" value="OK">
      </form>
    </div>
    <!-- END PAGE HEADER -->

    <!-- MAIN FORM -->
    <div id="mainForm">
      <form action="/submit?exp_traq_name={{ exp_traq_name }}" method="post" autocomplete="off">
        <div>
          Amount:
          <input name="amount" type="number" step="1" required class="input-block-level" autofocus></input>
        </div>
        <div class="dropdown">
          Payee:
          <input id="input_field" class="input-block-level" name="payee" onkeyup="inputChanged(this)" type="text" required></input>
          <div id="select_box">
            {% for uniquePayee in uniquePayees %}
              <!-- NOTE: see xx comment in .py file about these not being sorted -->
              <a href="#" onclick="optionSelect(this)">{{ uniquePayee }}</a>
            {% endfor %}
          </div>
        </div>
        <div id="dateField"> <!-- initially hidden; see CSS -->
          Date:
          <input name="date" type="date" class="input-block-level"></input>
        </div>
        <div id="commentField"> <!-- initially hidden; see CSS -->
          Comment:
          <input name="comment" type="text" class="input-block-level" rows="2"></textarea>
        </div>        
        <div>
          <span id="dateDefault" class="actionLink" onclick="showDateField()">Add date</span>
          <span id="commentDefault" class="actionLink" onclick="showCommentField()">Add comment</span>
        </div>
        <div><input id="saveEntryBtn" type="submit" class="btn btn-large btn-primary" value="Save"></div>
      </form>
    </div>
    <!-- END MAIN FORM -->

    <!-- DATA TABLE -->
    <!-- *********** NOTE: icons from https://design.google.com/icons/ **************** -->
    <div id="data">
      {% if show_as_table %}

        <span id="showAsList" class="actionLink" onclick="reloadAsList()">Show as a list</span>
        <table id="dataTable">
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Payee</th>
            <th>Comment</th>
            <th>Submitter</th>
            <th>Datetime</th>
            <th>Timestamp (UTC)</th>
          </tr>
          {% for entry in entries %}
          <tr>
            <td>{{ entry.dateOnly }}</td>
            <td style="text-align: right">${{ entry.amount }}</td>
            <td>{{ entry.payee }}</td>
            <td>{{ entry.comment }}</td>
            <td>{{ entry.author.email }}</td>
            <td>{{ entry.datetime }}</td>
            <td>{{ entry.timestamp }}</td>
          </tr>
          {% endfor %}
        </table>        
      
      {% else %}

        <span id="showAsTable" class="actionLink" onclick="reloadAsTable()">Show as a table</span>
        {% for entry in entries %}
        <div id="{{ entry.key.urlsafe() }}" class="dataEntry">
          {{ entry.dateOnly }} <i class="material-icons md-16">lens</i> 
          ${{ entry.amount }} <i class="material-icons md-16">lens</i> 
          {{ entry.payee }} <i class="material-icons md-16">lens</i>  
          {{ entry.comment }}
          <span class="actionLink" onclick="deleteEntry('{{ entry.key.urlsafe() }}')">Delete</span>
        </div>
        {% endfor %}

      {% endif %}
    </div>
    <!-- END DATA TABLE -->
    {{ numEntries }} entries
  </body>
</html>
{% endautoescape %}
